# Q1: Import numpy library

In [1]:
# write your code here ^_^
import numpy as np

# Q2: Generate a sequence of 15 floats using linspace() function

In [4]:
# write your code here ^_^
np.linspace(0,15,15)

array([ 0.        ,  1.07142857,  2.14285714,  3.21428571,  4.28571429,
        5.35714286,  6.42857143,  7.5       ,  8.57142857,  9.64285714,
       10.71428571, 11.78571429, 12.85714286, 13.92857143, 15.        ])

# Q3: Create a 3-D array in shape (2, 2, 3) containing the four arrays given below 
Note : the array's name is up to you.

|      |       |          |         |
|------| ----- | -------- | ------- |
|arr1 | 1.1    | 2.1       | 3.1        |
|arr2 | 4.1    | 5.1       | 6.1        |
|arr3 | 7.1    | 8.1       | 9.1        |
|arr4 | 10.1   | 11.1      | 12.1       |

In [7]:
# write your code here ^_^
arr1 = np.array([1.1,2.1,3.1])
arr2 = np.array([4.1,5.1,6.1])
arr3 = np.array([7.1,8.1,9.1])
arr4 = np.array([10.1,11.1,12.1])
Array = np.array([[arr1,arr2],[arr3,arr4]])
print(Array.shape)

(2, 2, 3)

# Q4: Print the following:
Note: use the same array from Q3.
- Array's type.
- Array's elements datatype.
- Array's shape.
- Array's size.
- Array's dimention.

In [10]:
# write your code here ^_^
print("The type is ",type(Array))
print("The elements datatype is ",Array.dtype)
print("The shape is ",Array.shape)
print("The size is ",Array.size)
print("The dimention is ",Array.ndim)

The type is  <class 'numpy.ndarray'>
The elements datatype is  float64
The shape is  (2, 2, 3)
The size is  12
The dimention is  3

# Q5:  Change the array dimention from 3-D to 4-D
Note: use the same array from Q3.
- Create a new array to hold the changes. 
- Print the new array's dimention and shape.

In [13]:
# write your code here ^_^
newArray = Array
newArray = newArray.reshape(2, 2, 3, 1)
print(newArray)
print("The shape is ",newArray.shape)

[[[[ 1.1]
   [ 2.1]
   [ 3.1]]

  [[ 4.1]
   [ 5.1]
   [ 6.1]]]


 [[[ 7.1]
   [ 8.1]
   [ 9.1]]

  [[10.1]
   [11.1]
   [12.1]]]]
The shape is  (2, 2, 3, 1)

# Q6: Change the array's elements datatype to integer  
Note: use the same array from Q5.

- Create a new array to hold the changes. 
- Print the new array.

In [16]:
# write your code here ^_^
newarr = newArray.astype('i')
print(newarr)

[[[[ 1]
   [ 2]
   [ 3]]

  [[ 4]
   [ 5]
   [ 6]]]


 [[[ 7]
   [ 8]
   [ 9]]

  [[10]
   [11]
   [12]]]]

# Q7: Print all array's elements using for loop
Note: use the same array from Q6.

Hint: use nditer()

In [19]:
# write your code here ^_^
for i in np.nditer(newarr):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12

# Q8:  Print number 8 using array slicing
Note: use the same array from Q6.

In [22]:
# write your code here ^_^
print(newarr[1,0,1,0])

8

# Q9: Print number 5 and number 6 using array slicing
Note: use the same array from Q6.

In [44]:
# write your code here ^_^
print(newarr[0,1,1,0])
print(newarr[0,1,2,0])

5
6

# Q10: Search for number 8 using where()
Note: use the same array from Q6.

Note: where() is only used with small data.

*the output represents the path of the index that leads to number 8*

In [56]:
# write your code here ^_^
np.where(newarr == 8)

(array([1], dtype=int64),
 array([0], dtype=int64),
 array([1], dtype=int64),
 array([0], dtype=int64))

# Q11: Reshape the array as the following

    array([[[ 1, 2],
            [ 3,  4],
            [ 5,  6]],

           [[ 7,  8],
            [ 9, 10],
            [11, 12]]])
            
 Note: use the same array from Q6.

In [64]:
# write your code here ^_^
newarr = newarr.reshape(2,3,2)
newarr

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6]],

       [[ 7,  8],
        [ 9, 10],
        [11, 12]]], dtype=int32)

# Q12: Join the given arrays below 
    arr1 = np.array([['A', 'B'], ['E', 'F']])
    arr2 = np.array([['C', 'D'], ['G', 'H']])
## Q12.1: Join the arrays without specifying the axis

In [80]:
# write your code here ^_^
arr1 = np.array([['A', 'B'], ['E', 'F']])
arr2 = np.array([['C', 'D'], ['G', 'H']])
arr3 = np.concatenate([arr1, arr2] ,axis = None)
arr3

array(['A', 'B', 'E', 'F', 'C', 'D', 'G', 'H'], dtype='<U1')

# Q12.2: Join the arrays along rows with axis = 1

In [84]:
# write your code here ^_^
arr4 = np.concatenate([arr1, arr2] ,axis = 1)
arr4

array([['A', 'B', 'C', 'D'],
       ['E', 'F', 'G', 'H']], dtype='<U1')

# Q13: Split the array into two arrays with axis = 1, each array should contain four arrays. 
Note: use the same array from Q12.1

In [106]:
# write your code here ^_^
arr5 = np.hsplit(arr3,2,axis=1)
arr5

TypeError: hsplit() got an unexpected keyword argument 'axis'